body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}



 
svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}


/* BACK OF CARD */
#cardback   {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

.creditcard {
 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
 
}

 

.back {
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

 
